Camera/camera_settings.json
*.json
/Andor/__pycache__
*.json
Camera/camera_settings.json
*.pyc
Oriel_Controller_PID_6Channels_V9_RS232/stage_config.json
Oriel_Controller_PID_6Channels_V9_RS232/logs/activity_20261002_162038.log
